#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.credit {
    margin-top: 20px;
    text-align:center
}

.thumbnail {
    float: right;
    margin: 15px;
    margin-top: -10px;
}

.carousel {
    width: 550px;
}
.carousel div.carousel-inner div.item img {
    width: 100%;
}

#twnews ol.carousel-indicators {
    margin-top: -25px;
    width: 50%;
    right: 80px;
}
#twnews ol.carousel-indicators li {
    background-color: #ddd;
}
#twnews ol.carousel-indicators li.active {
    background-color: #444;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.sidebar {
    float:right;
}

.subhead {
    background: #000;
    background-image: url('images/budapest-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 45px;
    color: white;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 10px;
    white-space: nowrap;
    text-align: center;
}

.shadowed {
    opacity: 0.8;
    /* box-shadow:10px 10px 10px #000; */
    /* -webkit-box-shadow:10px 10px 10px #000; */
    /* -moz-box-shadow: 10px 10px 10px #000; */
}

.subhead h1 {
    font-size: 60px;
    padding-bottom: 15px;
}

.subhead .lead {
    padding-top: 75px;
    margin-bottom: -25px;
    text-align: center;
}

.subhead p {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 300;
}

#logodiv {
    text-align: center;
    margin-top: 10px;
}
#logodiv img {
    max-width: 75%;
    margin-bottom: 0px;
}

.nav li a {
    color: #003399;
}

.affix {
    top: 10px;
}

#emptyness {
    height: 20px;

}

#regscreenshot{
    margin-top: 10px;
    margin-bottom: 15px;
}

section {
    padding-top: 10px;
}

@media all and (max-width:779px){
    .affix {
	position: static;
    }
    .subhead h1 {
	font-size: 32px;
    }
    
    .subhead p {
	font-size: 24px;
	font-weight: 300;
    }

    #sponsors li{
	width: 200px;
	margin: auto;
    }
    .carousel {
        width: 100% !important;
    }

}

@media all and (max-width:479px){
    .subhead, .media-object {
	display: none;
    }
    .carousel {
        width: 100% !important;
    }
}

.media-object{
    width: 64px;
    margin-right: 25px;
}


.speaker {
    text-align: center;
    margin-top: 15px;
}
.speaker .speaker-photo {
    width: 40%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.speaker .speaker-photo img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.speaker .speaker-name {
    padding-top: 10px;
    font-size: 2em;
}
.speaker .speaker-affiliation {
    padding-top: 10px;
    font-size: 1.5em;
}
.speaker .speaker-bio {
    display: none;
}
.speaker .speaker-social {
    padding: 5px;
}

#speakers .speaker .speaker-photo {
    width: 50%;
}
#speakers .speaker .speaker-name {
    font-size: 1.75em;
}
#speakers .speaker .speaker-affiliation {
    font-size: 1.3em;
}

#sponsors {
    text-align: center;
}
#sponsors h1,h3,p {
    text-align: left;
}
#sponsors img {
    padding: 5px;
}
#sponsors img.platinum {
    max-width: 500px;
    max-height: 200px;
}
#sponsors img.gold {
    max-width: 400px;
    max-height: 160px;
}
#sponsors img.silver {
    max-width: 300px;
    max-height: 120px;
    padding-left: 25px;
    padding-right: 25px;
}
#sponsors img.bronze {
    max-width: 200px;
    max-height: 80px;
    margin-left: 25px;
    margin-right: 25px;
}

.talk {
    color: #08c;
    text-decoration: underline;
    cursor: pointer;
}

.abstract {
    display: none;
    background-color: #ddd;
    margin-top: 15px;
    border: 2px solid;
    padding: 5px;
    cursor: pointer;
}

.session-title {
    font-weight: bolder;
}
.session-talk {
    margin-left: 15px;
}
.session-talk:before {
    color: black;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}
.session-abstract {
    display: none;
    margin-bottom: 10px;
}

/* Mailchimp form overrides */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
}
#mc_embed_signup form {
    text-align: center;
}
#mc_embed_signup .button  {
    //margin-top: 15px;
}
#mc_embed_signup form input {
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    width: 15%;
}

.formsubmit {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.formsubmit:hover {
    color: black;
    text-decoration: none;
}
.formdisabled {
    background-color: #dedede;
    color: black;
}

.nobold {
    font-weight: 100;
}

@media (min-width:800px) {
    .modal {
        width: 750px;
        left: 40%;
    }
}

.carousel-control {
    top: 0px;
    margin-top: -40px;
}
.carousel-inner {
    margin-top: 40px;
    margin-left: 25px;
}
.carousel-indicators {
    margin-top: -35px !important;
}

.button-workaround {
    font-size: 0.8em;
    text-align: center;
    margin-top: -10px;
}

.center-table th, td {
    text-align: center !important;
    vertical-align: middle !important;
}

.left-table th, td {
    text-align: left !important;
    vertical-align: middle !important;
}

.thumbnail-title {
    text-align: center;
    color: white;
    background-color: gray;
    margin: -15px -5px -20px -5px;
}
.thumbnail-title h4 {
    margin-top: -15px;
    padding-bottom: 10px;
}

.modal-body {
    height: 400px;
}

.table tbody td.schedule-keynote {
    background-color: rgba(220, 220, 220, 1);
}
.table tbody td.schedule-invited {
    background-color: rgba(240, 240, 240, 1);
}
td.blank {
    background-color: white !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #3f87cc33;
}
.table-hover tbody td:hover {
    background-color: #3f87cc !important;
    color: white;
}
.table-hover td:hover a, .table-hover tr:hover a {
    color: white;
    font-weight: strong;
    text-decoration: underline;
}
table.schedule td:nth-child(2), table.schedule td:nth-child(3) {
    width: 50%;
}
table.schedule td ul {
    text-align: left;
    list-style-type: square;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 0px;
}
.table-hover tbody tr:hover td ul {
    white-space: normal !important;
    width: 100%;
}
table.schedule td {
    overflow: hidden;
}


.nav>li>ul>li>a:hover {
    text-decoration: none;
}
.nav a.submenu {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.point-to-abstract {
    cursor: pointer;
}
.point-to-schedule {
    cursor: pointer;
}
